html{
    background-color: #888;
}

#pagehead, .nexthead {
    text-align: center;
    background-color: #474e5d;
    color: #fefefe;
    padding: 20px;
}

.nexthead {
    padding: 10px;
}

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password], textarea{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password], textarea:focus {
    background-color: #ddd;
    outline: none;
}
  
/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    display: block;
    margin: 10px auto;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

#createform {
    display: none;
}

/* Add padding to container elements */
.container, #formtable {
    padding: 16px;
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}
  
  /* Modal Content/Box */
.modal-content{
    background-color: #fefefe;
    margin: 5% auto 2% auto;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#formtable {
    background-color: #fefefe;
    width: 80%; /* Could be more or less, depending on screen size */
    border: 1px solid #888;
    margin: auto;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
}